[2014-10-11 04:36] tachang opened #5 "Odd errors"
[ERR] Unsupported libVirt version '1.2.2'. Please use libVirt 0.9.13 or greather
[ERR] Unsupported /usr/bin/qemu-img version '2.0.0'. Please use 'qemu-img' 1.2.0 or greather
[ERR] Unsupported KVM version '2.0.0'. Please use KVM 1.2.0 or greather

[2014-10-13 08:57] #5 closed, assigned to dguerri

[2015-03-25 16:25] AJRepo opened #8 "Remove rebasing step in backup proceedure?"
Thanks again for a nice program.  If I've read the code right, I see that there is a rebasing of the backing files in the backup directory which stores the full path to that source in the backup directory.

So you currently have
[code]

I think that would make sense if you ran the VM in the backup directory, but in the case of a disaster recovery (DR) you'd put the backup files back in their origi

[2015-03-25 16:56] dguerri commented on #8
Hi @AJRepo.
That's a good point.
Originally, I wanted to keep backup files linked as I wanted to consolidate them before restoring them.
The restoring part/script has never been implemented, tho... So it's now pointless.

[2015-03-25 17:51] AJRepo commented on #8
Cool. I submitted commit 2e33677249998eb5eae2a53cbbea1782edaf9207 to remove that command. I'll do a pull request in a bit.

[2015-03-26 14:26] AJRepo commented on #8
In looking at restore procedures I found libvirt ( http://wiki.apparmor.net/index.php/Libvirt ) changes /etc/apparmor.d/libvirt/libvirt-DOMID.files to deny writes to the backing file and updates apparmor to only allow writes to the current disk image. So a restore under a system that uses apparmor would need to keep the file naming and structure as-as, or modify the apparmor files. If it's ok, I'l

[2015-03-26 15:01] dguerri commented on #8
That's great. Thanks @AJRepo .

[2015-03-27 12:45] #8 closed

[2015-04-16 22:51] pcwrt opened #11 "Multiple block devices"
First:  awesome script ... thanks for writing this!

For both backups and consolidation the script breaks the list of block_devices returned from "virsh domblklist" into block_device using:
for block_device in "$block_devices"; do
"for" will treat "$block_devices" (in quotes) as a single argument and assign all of the block devices to $block_device.  I think what you meant was (no quotes):
    for

[2015-04-17 08:45] dguerri commented on #11
Thanks @pcwrt .
That is definitely a bug. Go ahead and fix it, if you feel like.
Or I will look into it later if you want.

[2015-05-25 10:00] svorobyov opened #12 "could not open existing file, error getting backing file"
It's a nice script operating flawlessly for other *single-disk* VMs on the same host.
However, something goes wrong for a two-disk VM I just added.

All other disk images are owned by root:root, as the images in question, so it's not a permission issue.

The fi-backup.sh script seems to erroneously report "error getting backing file",
although all the files exist and are OK, and the VM continues t

[2015-05-25 15:57] dguerri commented on #12
confirmed. The problem is in this for:

[code]

[2015-05-25 16:10] dguerri commented on #11
Same as #12.

[2015-05-25 17:58] svorobyov commented on #12
Thanks, Davide!

I checked, and it appears that the quotes are *already* there:

[root@dualix images-backup-gear]# grep -n block_devices fi-backup.sh
128:   local block_devices=
153:         block_devices=$($VIRSH -q -r domblklist "$domain_name" --details | awk '"disk"==$2 {print $4}')
160:         for block_device in "$block_devices"; do
213:   local block_devices=$($VIRSH -q -r domblklist "$doma

[2015-05-25 18:20] dguerri commented on #12
You are welcome.
I am working on the first issue. Can you open another ticket for the second, please?

[2015-05-25 18:42] svorobyov commented on #12
sorry, maybe I just misunderstood; I just wanted to say that the quotes are already in my version of the fi-backup.sh script:

[root@dualix images-backup-gear]# grep -n block_devices fi-backup.sh | grep for
160: for block_device in "$block_devices"; do
223: for block_device in "$block_devices"; do

[2015-05-25 18:52] svorobyov opened #13 "a different KVM path is needed for CentOS 7"
In CentOS 7 a different path is seemingly needed for the KVM variable, because:

[root@dualix /]# find / -type f -name "kvm"
...none found...
[root@dualix /]# find / -type f -name "qemu-kvm"
/usr/libexec/qemu-kvm

Therefore, the following add-on (after # Add this...) can help:

\# Executables
QEMU_IMG="/usr/bin/qemu-img"
VIRSH="/usr/bin/virsh"
KVM="/usr/bin/kvm"
if [ -x "/usr/bin/qemu-kvm" ]; then

[2015-05-25 18:58] dguerri commented on #12
Yep, they shouldn't :)

[2015-05-25 20:35] svorobyov commented on #12
Davide,

do you mean that just removing the double quotes in two occurrences above will fix the script?

[2015-05-25 21:36] dguerri commented on #13
In order to create some CI tests on travis, I want to use qemu (not KVM). Specifically: `qemu-system-x86_64`

Where is installed `qemu-system-x86_64` on centos?

[2015-05-25 21:39] svorobyov commented on #13
[root@dualix sv]# find / -type f -name "qemu-system-x86_64"
/usr/bin/qemu-system-x86_64

[2015-05-25 21:41] dguerri commented on #13
Thanks :)

[2015-05-25 23:04] dguerri commented on #12
@svorobyov, before I merge to master, can you please check [this](https://github.com/dguerri/LibVirtKvm-scripts/pull/14) PR?

[2015-05-26 06:23] svorobyov commented on #12
last night I removed double quotes in the two following lines of the old script

[root@dualix images-backup-gear]# grep -n block_devices fi-backup.sh | grep for
160: for block_device in "$block_devices"; do
223: for block_device in "$block_devices"; do

and everything went well:

===== 2015-05-26 03:27:05, backing up getafix.intertex.se =====
[DEB] libVirt version '1.2.8' is supported
[DEB] /usr/b

[2015-05-26 07:07] svorobyov commented on #12
Just checked your latest/newest script in the production environment, and everything went well:

===== 2015-05-26 08:59:06, backing up getafix.intertex.se =====
[DEB] libVirt version '1.2.8' is supported
[DEB] /usr/bin/qemu-img version '1.5.3' is supported
[DEB] KVM version '2.0.0,' is supported
[DEB] Snapshot for domain 'getafix.intertex.se' requested
[DEB] Using timestamp '20150526-085906'
[DEB]

[2015-05-26 08:25] svorobyov commented on #12
Davide,

about consolidation:

1. shouldn't it be done *only* when the VM is stopped?
2. or it's *live*? (i.e., can be performed while the VM is running)

This should be specified in the README.md

[2015-05-26 08:30] dguerri commented on #12
It is designed to be performed on live systems. :)
Nevertheless, at this stage of testing, I'd recommend you to take a backup before trying out the script.
I will update the README with that. Thanks.

[2015-05-26 09:13] svorobyov commented on #12
What is the disaster recovery procedure for domain A, with images in directory B, backup directory C?

Is it:

1. clean up the directory B from all images for domain A;
2. copy the desired chains of the backing images for domain A from C to B (can the chains be of different lengths, e.g., I want to recover disk 1 to the state two days back and disk 2 to the state three days back?);
3. specify (in

[2015-05-26 09:18] dguerri commented on #12
Yes, that is the recovery procedure.
I am writing a small guide with these details (and I will use your description)

[2015-05-26 09:40] dguerri commented on #12
@svorobyov https://gist.github.com/dguerri/70efcfe0c3ae0fac8bd7 what do you think?

[2015-05-26 15:41] dguerri commented on #12
@svorobyov I update [this PR](https://github.com/dguerri/LibVirtKvm-scripts/pull/14) with improved doc and tests.
I will merge it into master as soon as you confirm it is working for you.
If you have some idea for additional tests, I will be happy to add it.

[2015-05-26 19:12] svorobyov commented on #12
Two single-disk VMs seem to successfully consolidate (I will now proceed to testing consolidating for a third, two-disk VM). Here's the second, quite long consolidation chain:

[DEB] libVirt version '1.2.8' is supported
[DEB] /usr/bin/qemu-img version '1.5.3' is supported
[DEB] QEMU/KVM version '2.0.0,' is supported
[DEB] Consolidation of block devices for 'washi.ingate.se' requested
[DEB] Block d

[2015-05-26 21:15] svorobyov commented on #12
Consolidation for a two-disk VM was also completely successful:

[DEB] libVirt version '1.2.8' is supported
[DEB] /usr/bin/qemu-img version '1.5.3' is supported
[DEB] QEMU/KVM version '2.0.0,' is supported
[DEB] Consolidation of block devices for 'getafix.intertex.se' requested
[DEB] Block devices to be consolidated:
	/var/lib/libvirt/images/getafix-hda.bimg-20150526-180408 /var/lib/libvirt/images

[2015-05-26 21:16] svorobyov commented on #12
Many thanks, Davide! I think you can now merge the development branch into master.

[2015-05-26 21:18] dguerri commented on #12
:+1:  Waiting for Travis-CI :)

[2015-05-26 21:21] dguerri commented on #12
So, removing quotes will work only if there are no spaces in image file names.
I had to refactor that piece of code a bit but now it is definitely more robust.

[2015-05-26 21:23] svorobyov commented on #12
what is Travis-CI? I do not have anything related in my clone of LibVirtKvm-scripts/

[2015-05-26 21:23] dguerri commented on #12
https://travis-ci.org/dguerri/LibVirtKvm-scripts/builds

You should have a file named .travis.yml

[2015-05-26 21:32] #11 closed

[2015-05-26 21:33] svorobyov commented on #12
I will need to study it carefully before adapting to CentOS, since apt-get won't work (it's yum based)

[2015-05-26 21:34] dguerri commented on #12
Unfortunately you can't run it locally :(
That's why it takes forever to get a working CI test!

[2015-05-26 21:35] #12 closed

[2015-05-26 21:35] dguerri commented on #12
Issue fixed. Fix merged in master.

[2015-05-26 21:35] dguerri commented on #13
Fixed. Fix merged in master.

[2015-05-26 21:35] #13 closed

[2015-06-09 07:33] markus9999 opened #16 "check_version fails"
Hello,

i currently test this script first issue

[ERR] Unsupported libVirt version '1.2.9'. Please use libVirt 0.9.13 or greather

HTH

regards max

[2015-06-09 13:15] dguerri commented on #16
That could be not supported.
I don't have the latest libVirt version handy, could you please remove that check and paste here the output of `fi-backup.sh` with `-d`?

[2015-06-09 13:39] markus9999 commented on #16
-->
[DEB] /usr/bin/qemu-img version '2.1.3' is supported
[DEB] QEMU/KVM version '2.1.3,' is supported
[ERR] <domain name> is missing!
   fi-backup version 2.0.0 - by Davide Guerri <davide.guerri@gmail.com>

   Usage:

   ./fi-backup.sh [-c|-C] [-q] [-h] [-d] [-v] [-V] [-b <directory>] <domain name>|all

   Options
      -b <directory>    Copy previous snapshot/base image to the specified <director

[2015-06-09 13:40] dguerri commented on #16
yep, thanks.
Can you try also to perform a backup, please?

[2015-06-09 13:41] dguerri commented on #16
mmh `[ERR] is missing!` is not good.

[2015-06-09 13:45] markus9999 commented on #16
ok, in a few minutes, i must copy some files

[2015-06-09 13:53] dguerri commented on #16
@mamoit backup your stuff first! I have no idea about what is going to happen with that libvirt version :)

[2015-06-09 14:09] markus9999 commented on #16
ok here it is

[DEB] /usr/bin/qemu-img version '2.1.3' is supported
[DEB] QEMU/KVM version '2.1.3,' is supported
[DEB] Snapshot for domain 'vhs-www1' requested
[DEB] Using timestamp '20150609-160931'
[DEB] Snapshotting block devices for 'vhs-www1' using suffix 'bimg-20150609-160931'
[VER] Snapshot for block devices of 'vhs-www1' successful
[VER] Copy backing file '/var/lib/libvirt/images/debianwhe

[2015-06-09 17:33] dguerri commented on #16
thanks @markus9999
It seems to work but I want to be sure :)
Please add the `-d`, post the output here. Then try (again with `-d`) try to consolidate, please (`-c`)

[2015-06-09 18:45] markus9999 commented on #16
ok, first one

-->
ccron-vhs:/usr/local/sbin # /usr/local/sbin/fi-backup.sh -b /backup -d vhs-www1
[DEB] libVirt version '1.2.9' is supported
[DEB] /usr/bin/qemu-img version '2.1.3' is supported
[DEB] QEMU/KVM version '2.1.3,' is supported
[DEB] Snapshot for domain 'vhs-www1' requested
[DEB] Using timestamp '20150609-204433'
[DEB] Snapshotting block devices for 'vhs-www1' using suffix 'bimg-201506

[2015-06-09 19:09] markus9999 commented on #16
next

ccron-vhs:/usr/local/sbin # /usr/local/sbin/fi-backup.sh -c -d vhs-www1
[DEB] libVirt version '1.2.9' is supported
[DEB] /usr/bin/qemu-img version '2.1.3' is supported
[DEB] QEMU/KVM version '2.1.3,' is supported
[DEB] Consolidation of block devices for 'vhs-www1' requested
[DEB] Block devices to be consolidated:
        /var/lib/libvirt/images/debianwheezy.bimg-20150609-204433
[DEB] Consoli

[2015-06-09 19:35] dguerri commented on #16
Ok thanks @markus9999 . I will submit a patch shortly for your issue!

[2015-06-09 20:16] dguerri commented on #16
Weird. Just using a "static" version, in the piece of code that performs that check, I can' t reproduce it.
(I have just replaced `print_v` with `echo`)
    (davide:murray)-[0]-(~/D/LibVirtKvm-scripts) # function check_version()

    (davide:murray)-[0]-(~/D/LibVirtKvm-scripts) #
    (davide:murray)-[0]-(~/D/LibVirtKvm-scripts) # version='1.2.9'
    (davide:murray)-[0]-(~/D/LibVirtKvm-scripts) # i

[2015-06-10 05:32] markus9999 commented on #16
sory for late answer, here it is

-->
ccron-vhs:/usr/local/sbin # virsh -v
1.2.9
<--

[2015-06-10 05:32] markus9999 commented on #16
so

[2015-06-10 06:22] markus9999 commented on #16
Ok, I've found a solution, Coudl you test this ?

replace

local winner=$(echo -e "$version\n$check" | sed '/^$/d' | sort -nr |  head -1)

by

local winner=$(echo -e "$version\n$check" | sed '/^$/d' | sort -Vr |  head -1)

I dont know if all currently used versions of sort support the -V option

but this works for me, maybe for others to

regards

[2015-06-10 12:04] dguerri commented on #16
That's interesting. I will try it asap.
-V is a GNU extension, so it should bey present on (recent) Linux boxes.
Anyhow, I don't get why the numeric sort doesn't work for your case. I have quickly tested that code on OsX, but I guess -n in Linux would do something different.

Which operating system are you using?

[2015-06-11 06:22] markus9999 commented on #16
I use openSUSE already for many years, 13.2 is the latest.

[2015-06-11 08:37] dguerri commented on #16
Thanks @markus9999 . I am fixing your issue now.

[2015-06-11 09:09] markus9999 commented on #16
Thx a lot for your support ;)

[2015-06-11 09:12] dguerri commented on #16
Thank you for reporting the issue.
I am closing it now. Feel free to reopen it or open a new one if needed.

[2015-06-11 09:12] #16 closed

[2015-07-10 18:28] xr09 opened #20 "Any plans for using active blockcommit?"
Any plans for using the latest features of libvirt? This method is way faster than the current one.

http://wiki.libvirt.org/page/Live-disk-backup-with-active-blockcommit

[2015-08-02 15:15] dguerri commented on #20
Hi @xr09, sorry for the delayed reply.
Well, I am always open to trying new stuff :)
I am a bit rusty on this, can you please tell me what improvement we will get using blockcommit?

Thank!

[2015-08-17 14:20] xr09 commented on #20
I'm no libvirt expert, can't comment any low level details, but tried this approach manually, is way more efficient.
In brief, it performs the backup as if were a snapshot, by freezing the disk and using a new tmp disk so you can get in and copy the original disk, then it "pivots" (merges back changes to the original image) in a heartbeat compared to the old method, really fast.

Maybe I'm using y

[2015-08-17 14:25] dguerri commented on #20
Thanks. I will take a look asap :+1:

[2015-10-12 15:46] franklouwers commented on #20
Hi Davide,

would this be an interesting approach for you? Do you plan on implementing it? Would like to contribute if that helps...

[2015-10-14 21:30] dguerri commented on #20
@franklouwers I think that would be a great enhancement. I just haven't found the time to dig into it.
Please feel free to submit a PR with a quick test (.travis.yml) and add yourself to a credit file!  ;)

[2015-10-27 14:52] dguerri commented on #20
@franklouwers @xr09 I added experimental support to blockcommit in this branch https://github.com/dguerri/LibVirtKvm-scripts/tree/features/blockcommit
It is very basic and the backing files handling could be probably improved wrt the blockpull method... nevertheless I'd like to keep backward compatibility for older ubuntu distos...

Can you please give it a go and let me know if it works for you?

[2015-10-30 07:14] tobiasrodehutskors opened #24 "Consolidating a not running domain results in a Backup of its single files"
I created some live backups of a virtual machine and afterwards wanted
to consolidate them into a single image. I turned the VM off and used the
following command:

[code]

I expected that consolidation for not running domains works the same way as for running domains. Nevertheless, that is currently not the case. Instead the script started to back up the image files to the root folder /. I had a

[2015-10-30 10:08] AJRepo commented on #24
Virsh requires that a domain be running for consolidation.  Trying it on a non-running domain virsh will give the error:

    error: Requested operation is not valid: domain is not running

Having a backup script start offline domains (which are probably off for a reason) in order to do work on them is not recommended.

The only "solution" then would be to specify that consolidation only works wit

[2015-10-30 14:53] AJRepo commented on #24
See Pull Request #25

[2015-10-30 17:58] dguerri commented on #24
Thanks @AJRepo, awesome work!

In a next release we could think about introducing an additional flag for offline images backup. Having the backup performed always, regardless of the mode specified by the user, could be a bit confusing.
Alternatively we could just exit with an error if -c is used.

Let's wait for @tobiasrodehutskors to give your patch a go and then we can merge.

[2015-10-31 01:07] AJRepo commented on #24
I was thinking along the same lines.  Also since someone could have a domain named "all" , perhaps replace matching logic $DOMAIN=="all" with flags that indicate full backup and type. E.g.  -a||--all --all-running --all-shutoff, --all-paused

[2015-11-13 12:50] dguerri commented on #20
@franklouwers @xr09 is the blockcommit branch working for you?

[2015-11-13 12:51] #24 closed

[2015-11-13 12:52] dguerri opened #26 "Exit with an error when there are no running domains and -c is used"
See #24
In a next release we could think about introducing an additional flag for offline images backup. Having the backup performed always, regardless of the mode specified by the user, could be a bit confusing.
Alternatively we could just exit with an error if -c is used.

[2015-11-13 14:09] AJRepo commented on #26
Sure. One question is what to do if someone specifies "-b /directory -c"  To me -b indicates that a backup should be done to that directory.  Right now, after Merge #25 , if someone specifies -c but not the -b flag on a shut-off domain (or one found from "all") then no backup is done, it skips them. We could just say "-b and -c flags can't both be specified at the same time but -b and -C can".

Ho

[2015-11-13 20:09] xr09 commented on #20
@dguerri It seems to work flawlessly.

These are the steps I followed to test it, correct me if I missed anything:

Disk size: 2.4 Gb

First, made a full backup

[code]

This made a snapshot, froze the image and copied it to the destination folder. (1m7.905s)

Then, several other snapshots

[code]

These snapshots took less than 0.3s on average

Consolidation:

[code]

Time elapsed: 0m0.355s  :+1:

[2015-12-09 13:31] dguerri commented on #20
per #27 I am closing this feature request.
Don't forget to say "thank you" to @AJRepo ;)

Cheers!

[2015-12-09 13:31] #20 closed

[2016-02-25 15:44] MaStr opened #28 "Support of different backup strategies; be not dependend on cp"
Thank you for your interesting and inspiring script. I was wondering, if it is possible to come around of the commands against the backup folder.

As far as I understand, the libvirt command for snapshots are used to create the multiple set of disk files on an incremental basis. The script uses "cp" for moving the different parts to the backup directory. The incremental qcow2 files are located nex

[2016-02-25 16:17] AJRepo commented on #28
Assuming you are talking about a running VM? The "cp" doesn't run if you don't use the -b flag. And the consolidation doesn't run unless you use the -C or -c flags. So, have you tried, instead of using the -b and -C flags, doing the following ( assuming  you are running on VM domain "foo" )

1)  run snapshot

    fi-backup.sh foo

2) do anything you want with the backing file, (e.g. rsync, scp, sf

[2016-02-25 16:24] MaStr commented on #28
Hi,
oh many thanks. I did not read that from documentation.. and I read the debug messge
[code]
as an error message. My fault, I'm not very fit today.

Thank you for that information, I'll close that issue!

best regards
Matthias

[2016-02-25 16:24] #28 closed

[2016-07-28 14:51] GreyKat opened #29 "Consolidation: Deleting old backing files does not work"
Function **get_snapshot_chain** is called after consolidation, so it returns just current image of VM.
The following fix works for me:

[code]

[2016-07-28 19:16] dguerri commented on #29
Awesome, thanks!
Can you pease submit a pull request I can merge straight away?
If not I will do it myself :)

[2016-07-28 21:08] GreyKat commented on #29
Just add it yourself ;)

And thanks for this great tool!

[2016-07-31 22:02] mnombre commented on #29
Hi,

Yes thanks very much!

NM

[2016-08-01 08:38] dguerri commented on #29
You are welcome! Unfortunately there is a problem with tests as the libvirt "hack" doesn't work anymore.
I will look into this asap, for the moment, if you are need the updated version you can clone the bugfix/deleting-old-bf branch

[2016-08-02 23:09] AJRepo commented on #29
@GreyKat

1) Nice catch!

2) You said the function "get_backing_file" is called after consolidation. However the function get_backing_file IS  called before consolidation on line 425. Consolidation doesn't start until line 429. I think you meant the function "get_snapshot_chain"

@dguerri Testing manually was ok except for one time when I ran into this issue ( https://bugzilla.redhat.com/show_bug.

[2016-08-03 08:50] GreyKat commented on #29
@AJRepo
Yep, you are right, it was a typo (bad copy/paste). The function is **get_snapshot_chain**

And it is running:
CentOS Linux release 7.2.1511 (Core)
3.10.0-327.18.2.el7.x86_64
libVirt version '1.2.17' support is experimental
QEMU/KVM version '2.0.0,' is supported

[2016-10-17 21:02] cmsimike opened #31 "Question: XML?"
Hi,

I am yet another happy user of your backup script. I did have a question about the backups. I presume this only backs up the disk image, right? Will we need another process to dump the domain's XML as part of a full backup? Or is that somehow in the image as well?

[2016-10-18 23:39] #31 closed

[2016-10-19 14:19] dguerri commented on #31
Hi @cmsimike ! Thanks for the feedback and sorry for the delayed reply.
Did you find your answer? :)

[2016-10-19 15:19] cmsimike commented on #31
No worries - I hadn't but I figured it was an answer I can eventually figure out. Slowly wrapping my head around libvirt :)

Another question I had -  is there a way to consolidate the backup directory?

[2016-10-19 15:34] dguerri commented on #31
Cool. :)
About your question: it has been a while since I wrote the first version of this script.. as far as I remember consolidating needs a running domain. I don't know if something new has been implemented in  qemu-img, tho.
If not, you will need to restore the backup (or just creating a new domain which uses the latest backup image) and then consolidate using blockpull/blockcommit

[2016-10-19 15:36] cmsimike commented on #31
Thank you very much!!

[2017-06-16 21:05] AJRepo opened #32 "TravisCI tests and KVM/libvertd seem incompatible"
I've been trying to get the latest builds to work with TravisCI and also with Docker [in a scratch branch](https://github.com/AJRepo/LibVirtKvm-scripts/tree/travistests). Docker attempts [failed too](https://github.com/docker/hub-feedback/issues/1055).

I can run tests locally and they run fine, but there seems to be a block at the TravisCI and hub.Docker.com blocking containerized libvirtd which

[2017-07-25 03:16] AJRepo commented on #32
Fixed with commit 9fc26053a34833fb61cdd00543b6f72b9aa38a32

[2017-07-25 03:16] #32 closed

[2017-12-21 15:45] AJRepo commented on #29
This is now working - closing.

[2017-12-21 15:45] #29 closed

[2018-01-26 09:55] ASAPHAANING opened #36 "XML dumps"
I read the nuts & bolts as well as the README and nowhere is it mentioned that the newer commits still include a backup of the libvirt XML definitions. Am I parsing the arguments wrong or is that functionality no longer present?

[2018-01-26 13:46] AJRepo commented on #36
I don't believe any functionality was removed.

Are you referring to the -s flag for dump state/status?

That's still in there.

[2018-01-26 13:48] ASAPHAANING commented on #36
In previous revisions no argument was required for every backup to include an xml dump for the composition of the domain. When I've replaced my old with the new script I will return here to conclude whether this is what I was referring to.

[2018-01-26 17:54] #36 closed

[2018-02-23 14:57] MaxiReglisse opened #38 "fi_backup fails when local LANG is fr_FR.UTF-8"
Very good job, David ! thanks.

but when LANG is set to fr_FR.UTF-8, fi_backup fails because the VM is not seen as running, as you can see here :

[code]
the problem comes from the result of the virsh command. it answers "en cours d'exécution" instead of "running".

    # LANG=fr_FR.UTF-8 && virsh -q domstate generic
    en cours d'exécution

    # LANG=en_US.UTF-8 && virsh -q domstate generic

[2018-04-06 11:08] ASAPHAANING commented on #36
I just switched to the new version now realized that state dump is not producing what I expected. Previously, the script would generate an xml dump used to describe the right configuration when creating a VM host along with the backed up copy of the disk image. Is this feature missing or am I not finding it right? Should I instead use this state dump to accomplish the same- in that case, how so?

[2018-04-06 14:52] AJRepo commented on #36
I did a search through past git commits and found no mention of 'xml'

The only dump state feature to have ever existed requires specifying the output directory.

`-s, --dump_state_dir <directory>  Dump domain status in the specified directory`

And creates a .gz file as described [on the KVM Migration page](https://www.linux-kvm.org/page/Migration)

I think you are confused between this program f

[2018-04-13 07:29] ASAPHAANING commented on #36
You're right! I mistook it for [another authors script](https://gist.github.com/cabal95/e36c06e716d3328b512b) which I am using currently.

This script produces the dumpxml from virsh :)

[2018-06-30 08:07] michaelHH1 opened #39 "fails if a physical drive is attached to VM"
Hi,
I've a physical drive attached to my VM. The script fails with "'error: unsupported configuration: source for disk 'vde' is not a regular file; refusing to generate external snapshot name'". Could attached physical drives be excluded from the backup?

BR
Michael

[2018-06-30 09:03] AJRepo commented on #39
Possibly. What do you get with the command

`virsh domblklist XXXX --details`

where XXXX is the VM domain name or id ?

[2018-06-30 15:47] michaelHH1 commented on #39
Type       Device     Target     Source
------------------------------------------------
file       disk       vda        /media/backup/vm/homeserver/bimg-20180630-101135
block      disk       vde        /dev/disk/by-uuid/B8D0061FD005E48A

As intermediate solution I've modified the script to:
   command_output=$($VIRSH -q snapshot-create-as "$domain_name" \
      "$SNAPSHOT_PREFIX-$timestamp" --no

[2018-07-23 09:18] MaxiReglisse opened #41 "Error consolidating block device: block copy still active"
Consolidation fails with a Windows 2016 Server, i do not understand why... Backups are performed every hour, and consolidation once a day.

 Below the logs:

    [INF] libVirt version '1.3.1' support is experimental
    [DEB] /usr/bin/qemu-img version '2.5.0' is supported
    [DEB] QEMU/KVM version '2.5.0' is supported
    [DEB] Domains NOTRUNNING to backup:
    [DEB] Domains RUNNING to backup:  M

[2018-07-23 12:31] AJRepo commented on #41
The problem would not be specific to Windows VM vs Ubuntu VM.

Virsh is saying that there's an unfinished `blockcopy` operation.

First I'd look to see if this is a continuing issue.

Try running the following command to get the list of blocks (might need to run all commands below with sudo)

`virsh domblklist Magnus`

Then look for active block operations for that file:

e.g.

`virsh blockjob Mag

[2018-07-23 13:57] MaxiReglisse commented on #41
everything seems normal to me...

    # virsh domblklist Magnus
    Target     Source
    ------------------------------------------------
    hda        /var/lib/libvirt/images/Magnus.bimg-20180720-163324
    hdb        -

and

    # virsh blockjob Magnus /var/lib/libvirt/images/Magnus.bimg-20180720-163324 --info
    Active Block Commit: [100 %]

i followed the chain as you can see [on pastebin.c

[2018-07-23 17:43] AJRepo commented on #41
Wow. That is a very long chain. I noticed that two in the chain are owned by root.

`
-rw------- 1 root         root      197632 Jul 19 16:17 /var/lib/libvirt/images/Magnus.bimg-20180719-161701
-rw------- 1 root         root  6143541248 Jul 20 09:54 /var/lib/libvirt/images/Magnus.bimg-20180714-061701
`
So you might have a permissions issue and can try chowning them to have the same ownership as th

[2018-07-25 08:22] MaxiReglisse commented on #41
Thanks Davide !
i chose the solution B : backup and restoration with the Windows tools, a great experience for me ! ;)
the new VM is called magnus (with a tiny m).
I successfully attempted this morning a consolidation operation. just before, the images directory contained the following files:

    [root@kvm815 ~]# ls -ltr /var/lib/libvirt/images/magnus.*
    -rw------- 1 libvirt-qemu kvm 429564887

[2018-07-25 16:29] AJRepo commented on #41
You are welcome, but I am not Davide. This is me: https://github.com/AJRepo

Yes with consolidation you should get back to just one file.  Those other files (e.g. 35061760 juil. 25 08:16 /var/lib/libvirt/images/magnus.bimg-20180725-071702 )  aren't self-contained backups per se, they are the record of stuff done between snapshot times, so that you can roll back your system to that state at that ti

[2018-07-25 16:29] #41 closed

[2018-08-27 14:32] MaxiReglisse opened #42 "blockcommit completes successfully if I change virtual disk Cache mode from Hypervisor default to none"
Consolidation failed this morning, with the following error: "block copy still active: disk 'sda' not ready for pivot yet".

    # LANG=en_US.UTF-8 && /usr/local/bin/fi-backup.sh -c -b /var/lib/libvirt/backups/ubuntu  -d ubuntu
    [INF] libVirt version '1.3.1' support is experimental
    [DEB] /usr/bin/qemu-img version '2.5.0' is supported
    [DEB] QEMU/KVM version '2.5.0' is supported
    [DEB]

[2019-01-30 10:51] neumantm opened #43 "The LICENSE file should contain the full license."
See https://help.github.com/articles/licensing-a-repository/.
Example of what I mean: https://github.com/sysown/proxysql/blob/v2.0.2/LICENSE

Benefit: Github detects the license correctly.

[2019-01-30 10:52] neumantm opened #44 "Add ability to specify/exclude disks to backup for a domain"

[2019-07-30 16:32] MaxiReglisse opened #45 "consolidation - failed to get shared write lock"
Consolidation was working perfectly with Ubuntu 16.04, but it fails with Ubuntu 18.04.
The problem is the new version, QEMU 2.10 comes with enabled builtin file locking to prevent image corruption, as explained [here](https://github.com/OpenNebula/one/issues/1449)

The error message is:

    [DEB] Getting all backing files for: '/var/lib/libvirt/images/salinois.bimg-20190728-115225'
    qemu-img:

[2019-07-31 16:11] AJRepo commented on #45
This is caused by issue: https://bugs.launchpad.net/qemu/+bug/1721788 with qemu-img not reporting information without the --force-share flag.

A quick workaround that fixes this issue is to change fi-backup to add the  "--force-share" flag right after the qemu-img "info" command as follows
[code]

Before fixing it in fi-backup, in this repo, we should look to see at what version --force-share was

[2019-07-31 19:47] AJRepo commented on #45
Fixed with 618617275d62bd26be7645bf33632cdcc8b33ed3

TravisCI build needed to be updated given their recent changes so fixed those as well through 9d7801f904ceccd03a923668a40cb77d5169a358

[2019-07-31 19:47] #45 closed

[2019-08-01 12:42] MaxiReglisse commented on #45
it solved my problem, many thanks!
a question: do you think that the use of the virtual machine lock manager would be a more sustainable solution?
[virtlock](https://libvirt.org/locking-lockd.html) or [sanlock](https://libvirt.org/locking-sanlock.html)... but i do not know how to do that...

[2019-08-03 09:34] MaxiReglisse opened #46 "unable to execute QEMU command 'transaction'"
when the VM has multiple disks, fi-backup fails with a "permission denied" error:

    [DEB] Snapshotting block devices for 'ubuntuserver_clone' using suffix 'bimg-20190803-111757'
    Formatting '/var/lib/libvirt/images/ubuntuserver_clone.bimg-20190803-111757', fmt=qcow2 size=17179869184 backing_file=/var/lib/libvirt/images/ubuntuserver_clone.qcow2 backing_fmt=qcow2 cluster_size=65536 lazy_refcou

[2019-08-03 13:23] AJRepo commented on #46
Is this on a machine running apparmor?

[2019-08-03 14:25] MaxiReglisse commented on #46
yes it is... here is the apparmor status:

    root@kvm540:~/virt-sysprep # apparmor_status
    apparmor module is loaded.
    28 profiles are loaded.
    28 profiles are in enforce mode.
       /sbin/dhclient
       /snap/core/7270/usr/lib/snapd/snap-confine
       /snap/core/7270/usr/lib/snapd/snap-confine//mount-namespace-capture-helper
       /usr/bin/lxc-start
       /usr/bin/man
       /usr/

[2019-08-03 15:02] MaxiReglisse commented on #46
as suggested by [Programster](https://unix.stackexchange.com/questions/435837/how-to-configure-apparmor-so-that-kvm-can-start-guest-that-has-a-backing-file-ch), i can find the libvirt ID in the most recent syslogs:

    Aug  3 16:29:33 kvm540 kernel: [94840.327053] audit: type=1400 audit(1564842573.153:1156): apparmor="DENIED" operation="open" profile="libvirt-17e19e53-4859-4640-800f-50c671330edd"

[2019-08-03 15:15] MaxiReglisse commented on #46
if I understand correctly, it would be enough to execute the command aa-complain for each VM ID:

    root@kvm540:~ # grep uuid /etc/libvirt/qemu/*.xml
    /etc/libvirt/qemu/catalyse-clone.xml:  <uuid>1146b82c-6639-42cc-9e3d-7df4d336b008</uuid>
    /etc/libvirt/qemu/catalyse.xml:  <uuid>5815309f-3a0c-4855-9efa-884fcba24b2f</uuid>
    /etc/libvirt/qemu/owncloud.xml:  <uuid>f16dd208-195d-4b89-8f35-c

[2019-08-04 14:58] MaxiReglisse commented on #46
virsh domuuid convert a domain name to domain UUID. consequently just use the following command:

    aa-complain /etc/apparmor.d/libvirt/libvirt-`virsh domuuid <domain>`

foreach domain name.

[2019-08-04 14:58] #46 closed

[2019-08-04 16:10] AJRepo opened #47 "SC1087 fix causes files to not be found in consolidation"
Using eval ${....}= breaks finding files.

Reverting to previous code until a cleaner solution is found.

[2019-08-04 16:30] AJRepo commented on #47
Fixed with 188891d42bd3f564583b785fb7a1af9b336196c8 .  In fuller fix, will need to update .travis.yml to test for  consolidation files that are left behind that shouldn't be after consolidation.

[2019-08-04 16:30] #47 closed

[2019-08-06 22:19] cboltz commented on #46
For the records - `aa-complain` puts the profile into complain/"learning" mode, which means to a) allow everything and b) to log what is not allowed in the profile.

Therefore aa-complain is a workaround, but not a real solution.

AFAIK the libvirt AppArmor profiles are autogenerated by libvirt (no idea where/when exactly), so the real solution would be to generate profiles that allow everything t

[2019-08-11 08:02] MaxiReglisse commented on #46
the problem with aa-complain is that when restarting the server, the VMs become in "enforce" mode, instead of "complain".

consequently, after many attempts to configure apparmor, the simplest solution at the moment is to disable it: i set `security_driver = "none"` in /etc/libvirt/qemu.conf, instead of `security_driver = "apparmor"`, and the VM backups are done correctly.

[2019-09-08 00:43] AJRepo commented on #45
No. Here's why

1) A machine which replicated this issue had virtlockd enabled and running.

2) The command that's failing was `"qemu_img info"` which is just getting info (names, paths) about the VM's disk(s) (backing files) - not actually modifying it yet.

3) These locking programs are designed to be able to expand for cross-host disk management when you might have multiple machines possibly ha

[2020-01-12 15:12] cherusk commented on #32
Downgrading to xenial also worked, definetly something with bionic.

[2021-02-05 19:27] AJRepo commented on #43
Updated and now properly detected by Github. Thanks!

[2021-02-05 19:27] #43 closed

[2021-04-14 23:54] JeremyRand opened #48 "No clear documentation on restoring backups"
The documentation is unclear on how to restore backups.  It would be useful to document this clearly from an end-user perspective (preferably with an example command-line in the README).

[2021-04-19 05:33] AJRepo commented on #48
**If** everything is consolidated then it can be as simple as replacing the current image(s) with the backup one(s) with suitable permissions. If the running disk image has a backing file that is part of a snapshot chain (forward or backward) then restoration is more complicated as you'd have to figure out which file(s) the VM will be using.

**If** it's the simple (all consolidated) case it's as

[2021-04-29 09:53] JeremyRand commented on #48
What is the correct procedure for determining which backing files, if any, would also need to be moved?

[2021-05-26 02:48] AJRepo commented on #48
There are lots of ways that disks for a VM can be setup. This assumes that this VM is running and needs to have that virtual system disk restored from backup. There are lots more ways to do this, but that's a quick and clean way if you have console access to the system that runs the VM.

I happened to run into a situation on a client's system where (I think) a new kernel update happened to conflic

[2021-09-03 07:31] Hoppaz opened #49 "duplicate files will get overwritten"
I've two different source directories where the filenames are the same.
This leads to overwritten files in case of copy to the backup directory during "Snapshot and consolidation" with a given backup directory. I will rename my source files two prevent those duplicates. Maybe it is a good idea to issue an error in this case.

Thank you for this piece of software!

[2022-01-30 11:02] MaxiReglisse opened #50 "consolidation fails: "numerical result out of range""
I have been using fi-backup for several years, to manage fifty VMs, I find the product very reliable but I encountered an error today that I do not understand.

consolidation of a VM fails with the following message:

    VIRSH : /usr/bin/virsh -q blockcommit themawebprod /var/lib/libvirt/images/themawebprod.bimg-20220130-011709 --wait --pivot --active
    [ERR] Error consolidating block device '/

[2022-01-30 11:43] MaxiReglisse commented on #50
everyone knows that you have to restart the libvirt/kvm hypervisor when the VMs behave abnormally... so that's what I did, and everything was back to normal! the consolidation was completed without error.

    root@kvm2540:~ # ls -ltrh /var/lib/libvirt/images/themawebprod*
    -rw------- 1 libvirt-qemu kvm 28G janv. 30 12:37 /var/lib/libvirt/images/themawebprod-2.qcow2
    -rw------- 1 libvirt-qem

[2022-01-30 11:43] #50 closed, assigned to nobody